#!/bin/bash

#nmcli con down "Wired connection 1"
#nmcli con reload {{ routing_network_interface }}
#nmcli con down {{ routing_network_interface }}
#nmcli con up {{ routing_network_interface }}
service network restart
