{% for host in groups['minions'] %}
  {% if host != inventory_hostname %}
   {{ hostvars[host]['ansible_kbr0']['ipv4']['network'] }}/24 via {{ hostvars[host][ansible_routing_network_interface]['ipv4']['address'] }}
  {% endif %}
{% endfor %}
