DEVICE=kbr0
STP=yes
BRIDGING_OPTS=priority=128
TYPE=Bridge
BOOTPROTO=none
IPADDR0={{ kube_ip_addr }}
PREFIX0=24
DEFROUTE=yes
IPV4_FAILURE_FATAL=no
IPV6INIT=yes
IPV6_AUTOCONF=yes
IPV6_DEFROUTE=yes
IPV6_PEERDNS=yes
IPV6_PEERROUTES=yes
IPV6_FAILURE_FATAL=no
NAME=kubernetes-bridge
ONBOOT=yes
